html, body{
    font-family: Helvetica, sans-serif;
    margin-top:0;
    margin-left: 15%;
    padding-top:0px;
    }

#results {
    margin-top: 60px;
    text-align: center;
}

table{
    width: 85%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #080;
    color: #fff;
    font-weight:400;
    background-clip: padding-box;
    border-radius: 3px;
}
input[type="number"] {
   width:50px;
}

h1 {
    padding: 0px
    margin: 0px;

}
body {
    background-color: #efefef;
}
