html * {
    font-family: Helvetica, sans-serif;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #080;
    color: #fff;
    font-weight:400;
}
input[type="number"] {
   width:50px;
}

h1 {
    padding: 0px
    margin: 0px;

}
